#rightColumn {
    margin-left: 40%;
    width: 55%; height: 1080px;
    background-color: white;
    color: black;
    position: relative;
}

@keyframes slidein-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slidein-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    color: #fd6acb
}
#aboutMeTitle {animation: 3s slidein-right; margin: 25px 0px 25px 0px;}
#aboutMeTitle::before {display: inline-block; content: ""; border-top: .2rem solid #fd6acb; width: 45rem; margin: 0 1.5rem; transform: translateY(2.5rem); left: 300px; position: absolute;}
#buddyIcon {display: none; background: #fd6acb; position: absolute; width: 50px; height: 50px; border-radius: 50%; border: solid #fd6acb 4px; transform: translate(990px, -5.5rem);}

#educationTitle {animation: 3s slidein-left; text-align: right; margin: 75px 0px 10px 0px;}
#educationTitle::before {display: inline-block; position: absolute; content: ""; border-top: .2rem solid #fd6acb;  width: 45rem; margin: 0 1.5rem; transform: translateY(2.5rem); right: 300px;}
#educationIcon {display: none; background: #fd6acb; position: absolute; width: 50px; height: 50px; border-radius: 50%; border: solid #fd6acb 4px; transform: translateY(-4.5rem);}

#projectTitle {
    position: absolute;
    transform: translateY(6.5em);
}
#projectTitle::after {display: inline-block; position: absolute; content: ""; border-top: .2rem solid #fd6acb; width: 45rem; margin: 0 1.5rem; transform: translateY(3rem); left: 300px;}
#projectIcon {display: block; position: absolute; background: #fd6acb; width: 50px; height: 50px; border-radius: 50%; border: solid #fd6acb 4px; transform: translate(990px, 26.5rem);}
.projectTimeline {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    transform: translateY(33rem);
    left: 100px;
}
.projectTimeline::before {
    position: absolute;
    content: '';
    border-left: 0.2rem solid #fecccd;
    height: 48rem;
    left: -50px;
    transform: translateY(2rem);
}
.container {
    background: #fecccd;
    font-weight: normal; font-size: 12px;
    margin-bottom: 3em;
}
/* tail before the container */
.container::after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    border: medium solid #fecccd;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fecccd transparent transparent;
    transform: translateX(-0.8em) translateY(-125%);
}
.container::before {
    content: "";
    position: absolute;
    width: 20px; height: 20px;
    background: #fecccd;
    border: 4px solid #fecccd;
    border-radius: 50%;
    transform: translate(-4rem, 575%);
}
.content {
    padding: 10px 25px;
}
.content > h1 {
    font-size: 20px; font-weight: 400;
}
.content > p {
    font-size: 16px; font-weight: 300;
}
.date {
    font-size: 14px; font-weight: 300; color: white; 
}

p {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: grey;
}
#aboutMeContainer {
    display: none;
    text-align: left;
    background-color: #fecccd;
    padding: 50px 100px;
}
#downloadResumeContainer {
    display: none;
    text-align: center;
    background-color: #fd6acb;
    padding: 1px 0px;
    margin-top: 30px; margin-bottom: 15px;
    color: white;
}
#downloadResumeContainer > p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}

a {text-decoration: none;}

#programmingTools {
    text-align: center;
    margin-left: 125px;
    line-height: 30px;
    float: left;
}
#textJava, #textPython, #textHTML, #textFlutter {display: block;}
#programmingTools > p{
    font-size: 32px;
    color: #fd6acb;
}
#educationContainer {
    display: none;
    float: right;
}
#educationContainer > h1 {
    text-align: right;
}
#educationContainer > p {
    text-align: center;
    background: #fecccd;
    padding: 100px 150px;
}
