#leftColumn {
    font-family: "Open Sans"; font-size: 22px; font-style: normal; font-weight: 300;
    width: 35%; height: 1080px;
    background-color: #fd6acb;
    text-align: center;
    float: left;
    position: fixed;
}
#profileCenter {
    padding-left: 10%;
    width: 75%;
    float: left;
}
#profileCenter > img{
    margin-top: 50%;
    border-radius: 50%;
    width: 225px; height: 225px;
    border: solid white 2px;
}
#contactLinks, #contactLinks > a{
    padding-top: 5%; padding-right: 2%;
    color: white;
    text-decoration: none;
    word-spacing: 50%;
}
#contactLinks > a:hover {
    color: #fecccd;
}
#progressBubble {
    padding-top: 50%;
    padding-right: 5%;
    float: right;
    text-align: center;
}
.dot {
    width: 30px; height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: solid white 2px;
    display: table;
}
#section1 {
    background-color: #fecccd;
    border: solid #fecccd 2px;
}
#section2 {
    margin: 25% 0;
}